}

.topnav {
  overflow: hidden;
  background-color: none;
}

.dropdown {
  position: relative;
  padding: 10px 20px;
  		  font-size: 12px;
        font-weight: 800;
    color: white;
  font-family: Roboto, sans-serif;
     letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding: 10px 20px;
  font-size: 12px;
    font-weight: 800;
  font-family: Roboto, sans-serif;
  position: absolute;
   letter-spacing: 1px;
   text-transform: uppercase;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #ffffff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #ffffff;}
