.inputBox {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #000000;
    color: #000000;
    border-radius: 5px;
    margin: 5px;
    font-weight: medium;
    font-family: 'sans-serif', cursive;
    font-size: 20px;
}

.box {
    max-width: 500px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.changelogin {
    font-family: 'Poppins', sans-serif;
}

.submitbutton, dddd{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #65b7eb;
    opacity: 0.7;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 22.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 150;
}

.submitbutton:hover{
    cursor: grab;
}

