.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/NewProject2.png");
  background-position: 50% 44.23%;
  background-size: 105%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 809px;
  margin: 136px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  width: 809px;
  margin: 31px auto 0;
}

.u-section-1-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0;
  padding: 21px 40px 23px 39px;
}

@media (max-width: 1199px) {
  .u-section-1-1 {
    background-size: 130%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1-1 .u-btn-1 {
    padding: 10px 31px 10px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/NewProject2.png");
  background-position: 50% 44.23%;
  background-size: 105%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 133px auto 0;
}

.u-section-1-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 52px auto 60px;
  padding: 21px 40px 23px 39px;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    background-size: 130%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1-2 .u-btn-1 {
    padding: 10px 31px 10px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/NewProject2.png");
  background-position: 50% 44.23%;
  background-size: 105%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  width: 760px;
  margin: 156px auto 0;
}

.u-section-1-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 83px auto 60px;
  padding: 21px 40px 23px 39px;
}

@media (max-width: 1199px) {
  .u-section-1-3 {
    background-size: 130%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1-3 .u-btn-1 {
    padding: 10px 31px 10px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/NewProject2.png");
  background-position: 50% 44.23%;
  background-size: 105%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  width: 760px;
  margin: 156px auto 0;
}

.u-section-1-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 83px auto 60px;
  padding: 21px 40px 23px 39px;
}

@media (max-width: 1199px) {
  .u-section-1-4 {
    background-size: 130%;
  }

  .u-section-1-4 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1-4 .u-btn-1 {
    padding: 10px 31px 10px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-block-815e-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 30px;
}

.u-block-815e-3 {
  position: absolute;
  left: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}

.u-block-815e-4 {
  position: absolute;
  right: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}